body {
    background: linear-gradient(90deg, darkblue, red);
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    border: 7px solid black;
}

h1 {
    color: snow;
    font-size: 2.1em;
    display: inline;
    padding: 54px;
}

h2 {
    font-size: 2.5em;
    text-align: center;
}

h3 {
    font-size: 5em;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

main {
    background-color: rgba(169, 169, 169, 0.5);
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 180px;
    margin-right: 180px;
    margin-top: 50px;
    border: 10px solid black;
    box-shadow: 3px 3px darkblue, -1em 0 .4em red;
}

p {
    font-size: 2em;
    margin-left: 25px;
    margin-right: 25px;
}

.img2 {
    margin-right: 0;
    margin-left: 20px;
}

.img3 {
    margin-left: 90px;
}

div {
    text-align: center;
}
